<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Street Host Chat</title>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
	<style>
		body {
			padding-top: 50px;
		}
		.starter-template {
			padding: 40px 15px;
			text-align: center;
		}
	</style>
	<title>Chat Room - Main Street Host</title>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body class="full-bg font-white">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class="navbar-brand">Chat Rooms</span>
			</div>
		</div>
	</nav>
	<div class="container">

	</div>
</body>
</html>
